snakemake:
    max-threads: 4
crs: "EPSG:4326"
scope:
    countries:
        - "Austria"
        - "Belgium"
        - "Bulgaria"
        - "Croatia"
        - "Cyprus"
        - "Czech Republic"
        - "Denmark"
        - "Estonia"
        - "Finland"
        - "France"
        - "Germany"
        - "Greece"
        - "Hungary"
        - "Ireland"
        - "Italy"
        - "Latvia"
        - "Lithuania"
        - "Luxembourg"
        - "Netherlands"
        - "Poland"
        - "Portugal"
        - "Romania"
        - "Slovakia"
        - "Slovenia"
        - "Spain"
        - "Sweden"
        - "United Kingdom"
        - "Albania"
        - "Bosnia and Herzegovina"
        - "Macedonia, Republic of"
        - "Montenegro"
        - "Norway"
        - "Serbia"
        - "Switzerland"
    bounds:
        x_min: -15.8 # in degrees east
        x_max: 37  # in degrees east
        y_min: 30  # in degrees north
        y_max: 75  # in degrees north
layers:
    national:
        Austria: nuts0
        Belgium: nuts0
        Bulgaria: nuts0
        Croatia: nuts0
        Cyprus: nuts0
        Czech Republic: nuts0
        Denmark: nuts0
        Estonia: nuts0
        Finland: nuts0
        France: nuts0
        Germany: nuts0
        Greece: nuts0
        Hungary: nuts0
        Ireland: nuts0
        Italy: nuts0
        Latvia: nuts0
        Lithuania: nuts0
        Luxembourg: nuts0
        Netherlands: nuts0
        Poland: nuts0
        Portugal: nuts0
        Romania: nuts0
        Slovakia: nuts0
        Slovenia: nuts0
        Spain: nuts0
        Sweden: nuts0
        United Kingdom: nuts0
        Albania: gadm0
        Bosnia and Herzegovina: gadm0
        Macedonia, Republic of: gadm0
        Montenegro: gadm0
        Norway: nuts0
        Serbia: gadm0
        Switzerland: nuts0
    subnational:
        # The link between NUTS and administrative units unfortunately is not obvious.
        # It's not documented anywhere -- at least I could not find any information.
        # Hence, I am using GADM here instead.
        # Validation source: https://en.wikipedia.org/wiki/List_of_administrative_divisions_by_country
        Austria: gadm1 # gadm1 and wiki match 9
        Belgium: gadm1 # match 3
        Bulgaria: gadm1 # match 28
        Croatia: gadm1 # match 21
        Cyprus: gadm1 # gadm1: 5 regions; wiki: 6 regions
        Czech Republic: gadm1 # match 14
        Denmark: gadm1 # match 5
        Estonia: gadm1 # gadm1 16 regions; wiki 15 regions
        Finland: gadm1 # gadm1 5 regions; wiki 19 regions
        France: gadm1 # match 13
        Germany: gadm1 # match 16
        Greece: gadm1 # gadm1 8 regions; wiki 13 (14) regions
        Hungary: gadm1 # match 20
        Ireland: gadm1 # match 26
        Italy: gadm1 # match 20
        Latvia: gadm1 # gadm1 5 regions; wiki 119 regions
        Lithuania: gadm1 # match 10
        Luxembourg: gadm1 # gadm1: 3 regions; wiki 12 regions
        Netherlands: gadm1 # gadm1 14 regions; wiki 12 regions
        Poland: gadm1 # match 16
        Portugal: gadm1 # match 18
        Romania: gadm1 # match 42
        Slovakia: gadm1 # match 8
        Slovenia: gadm1 # match 12
        Spain: gadm1 # match 17
        Sweden: gadm1 # match 21
        United Kingdom: gadm1 # match 4
        Albania: gadm1 # match 12
        Bosnia and Herzegovina: gadm1 # match 3
        Macedonia, Republic of: nuts3 # match 8 (statistical, non-administrative)
        Montenegro: gadm1 # match 21
        Norway: gadm1 # match 19
        Serbia: gadm1 # gadm1 25 regions; wiki 5 regions
        Switzerland: gadm1 # match 26
    municipal:
        Austria: lau2
        Belgium: lau2
        Bulgaria: lau2
        Croatia: lau2
        Cyprus: lau2
        Czech Republic: lau2
        Denmark: lau2
        Estonia: lau2
        Finland: lau2
        France: lau2
        Germany: lau2
        Greece: lau2
        Hungary: lau2
        Ireland: lau2
        Italy: lau2
        Latvia: lau2
        Lithuania: lau2
        Luxembourg: lau2
        Netherlands: lau2
        Poland: lau2
        Portugal: lau2
        Romania: lau2
        Slovakia: lau2
        Slovenia: lau2
        Spain: lau2
        Sweden: lau2
        United Kingdom: lau2
        Albania: gadm3
        Bosnia and Herzegovina: gadm3
        Macedonia, Republic of: gadm1 # 85, instead of 1817 in LAU2
        Montenegro: gadm1 # same as subnational
        Norway: lau2
        Serbia: lau2
        Switzerland: lau2
parameters:
    maximum-installable-power-density: # this is not the yield, but the density of installed power
        pv-on-tilted-roofs: 160 # [W/m^2] from (Gagnon:2016, Klauser:2016)
        pv-on-flat-areas: 80 # [W/m^2] from (Gagnon:2016, Klauser:2016, Wirth:2017)
        onshore-wind: 8 # [W/m^2] from (European Environment Agency, 2009)
        offshore-wind: 15 # [W/m^2] from (European Environment Agency, 2009)
    onshore-capacity-factor-replacement: # replace missing onshore cp from country_code
        Albania: Greece
        Bosnia and Herzegovina: Croatia
        Montenegro: Croatia
        Serbia: Romania
    max-slope:
        pv: 3 # [°]
        wind: 20 # [°] (McKenna:2014)
    max-depth-offshore: -50
    max-building-share: 0.01 # Above, a pixel cannot be used for energy farms. Equals roughly 900m2
    max-urban-green-share: 0.01 # Above, a pixel cannot be used for energy farms. Equals roughly 900m2. Removes e.g. Berlin's Tempelhofer Feld.
scenarios:
    technical-potential:
        share-protected-areas-used: 1.0
        pv-on-farmland: True
        share-farmland-used: 1.0
        share-forest-used-for-wind: 1.0
        share-other-land-used: 1.0
        share-offshore-used: 1.0
        share-rooftops-used: 1.0
    social-ecological-potential:
        share-protected-areas-used: 0.0
        pv-on-farmland: False
        share-farmland-used: 0.1
        share-forest-used-for-wind: 0.1
        share-other-land-used: 0.1
        share-offshore-used: 0.1
        share-rooftops-used: 1.0
    zero-protection:
        share-protected-areas-used: 1.0
        pv-on-farmland: False
        share-farmland-used: 0.1
        share-forest-used-for-wind: 0.1
        share-other-land-used: 0.1
        share-offshore-used: 0.1
        share-rooftops-used: 1.0
    no-rooftop-pv:
        share-protected-areas-used: 1.0
        pv-on-farmland: True
        share-farmland-used: 1.0
        share-forest-used-for-wind: 1.0
        share-other-land-used: 1.0
        share-offshore-used: 1.0
        share-rooftops-used: 0.0
    only-rooftop-pv:
        share-protected-areas-used: 0.0
        pv-on-farmland: False
        share-farmland-used: 0.0
        share-forest-used-for-wind: 0.0
        share-other-land-used: 0.0
        share-offshore-used: 0.0
        share-rooftops-used: 1.0
    harakiri:
        share-protected-areas-used: 0.0
        pv-on-farmland: False
        share-farmland-used: 0.0
        share-forest-used-for-wind: 0.0
        share-other-land-used: 0.0
        share-offshore-used: 0.0
        share-rooftops-used: 0.25
paper:
    europe-level-results:
        - technical-potential
        - social-ecological-potential
